<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_page.css') }}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='images/main_title.png') }}" class="centered">
            <nav>
                <div class="centered">
                    <a href="{{ url_for('display_resources_list') }}">Ресурсы</a>
                    <a>Рецепты</a>
                    <a>Расы</a>
                </div>
            </nav>
            <h3>Описание</h3>
            <p>
                Вы — наместник Опаленной королевы, назначенный ею для того, чтобы подчинить себе бесплодные пустоши и найти утраченные сокровища Тлеющего города, последнего бастиона цивилизации, чудом устоявшего против Гнилой бури, разрушившей старый мир. В большинстве градостроительных симуляторов с элементами выживания вы управляете всего одним городом, но в Against the Storm ваша задача — построить огромную сеть процветающих поселений, в которых будут жить разные фантастические народы, отличающиеся друг от друга образом жизни, потребностями и умениями.
                На неосвоенных землях вас ждет множество неожиданных угроз, а непрекращающиеся бури будут мешать вашим подопечным отстраиваться. Вы будете терять свои поселения, экспедиции будут проваливаться, но это не означает поражения. Against the Storm — это игра с элементами «рогалика», а значит, даже в случае неудачи вы сможете продолжить свою миссию, сохранив ресурсы, улучшения и опыт из прошлых походов.
            </p>
            <h3>Каждая новая игра не похожа на предыдущую</h3>
            <p>
                Новый город — новые вызовы: вас ждут сотни модификаторов игрового процесса и 5 разнообразных биомов. Докажите, что вы талантливый и спосбный наместник.
                Приспосабливайтесь к непростым погодным условиям и экспериментируйте с разными проектами поселений. Вас ждет множество перков и чертежей зданий, с которыми вы можете привести свое поселение к процветанию или же превратить его в безжизненную пустошь. Используйте имеющиеся в наличии ресурсы, чтобы получить преимущество, и не забывайте навещать торговца, который каждый раз привозит новые товары. Устраивайте экспедиции в лес, где вас ждут ценные ресурсы, несметные сокровища… и древние опасности.
            </p>
    </body>
</html>