{% extends 'base/base_page.html' %}

{% block title  %}Ресурсы{% endblock %}
{% block style_import  %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/resources_list.css') }}">
{% endblock %}

{% block body_title  %}Ресурсы{% endblock %}
{% block main_content %}
<p>Ресурсы нужны для строительства новых сооружений, удовлетворения нужд ваших жителей, утоления их голода, торговли и много другого.
    Фактически, вся игра сводитеся к добыче и преобразовании ресурсов, во что-то полезное или для достижения конкретной цели.
 </p>
 <h3>Ресурсы доступные в игре</h3>

 <ul>
    {% for currentResource in gameResources %}
    <li>
        <img src="{{ url_for('static', filename=currentResource['imageUrl']) }}">
        <a href="{{ url_for('display_resource', res_name=currentResource['name']) }}">{{ currentResource["name"] }}</a>
    </li>
    {% endfor %}
 </ul>
{% endblock %}
